node_modules
**/node_modules
npm-debug.log
Dockerfile*
.dockerignore
.git
.gitignore
.env.remote
.env
coverage
.vitest
playwright-report
e2e
**/*.spec.*
**/*.test.*
.cache
.tmp
*.swp
.DS_Store
.idea
.vscode
server/node_modules
server/*.log
*.local
*.env.local
